.table {
   display: grid;
   justify-content: center;
   align-items: center;
   width: 100%;
   grid-template-columns: 1.75fr repeat(2, 1fr) 50px;

   &__element {  
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 27px;
      height: 50px;
   }

   &__header {
      font-size: 35px;
      text-transform: capitalize;

      &::after {
         content: '';
         background-image: url('../../img/sort.png');
         width: 15px;
         height: 15px;
         margin-left: 13px;
         transform: translate(-50%, 85%);
      }
   }

   &__input {
      height: 30px;
      min-width: 50px;
      width: 50%;
      margin: 0 auto;
      background-color: transparent;
      border: 2px solid #FF9398;
      border-radius: 20px;
      padding-left: 17px;

      &:focus {
         outline: none;
         background-color: #84ceeb;
      }

      &:hover {
         box-shadow: 2px 2px 5px 3px rgba(255,147,152,1);
      }
      
   }

   &__delete-icon {
      color: darkred;
      transition: transform 0.5s;
      cursor: pointer;

      &:hover {
         transform: scale(1.2);
      }
   }

   &__add-button {
      background-color: transparent;
      border: none;
      width: 50px;
      height: 50px;
      cursor: pointer;
   }

   &__add-icon {
      color: darkgreen;
      width: 33px;
      height: 33px;
      transition: transform 0.5s;
      cursor: pointer;

      &:hover {
         transform: scale(1.2);
      }
   }
}
