* {
   margin: 0;
}

#root {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   min-height: 100vh;

   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 700;

   background: rgb(193,200,228);
   background: linear-gradient(180deg, rgba(193,200,228,1) 0%, rgba(132,206,235,1) 100%);
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: 800px;
   height: 100%;
   margin-top: 75px;
}

/* <i class="fa fa-trash" aria-hidden="true"></i> */