@import '../utils/vriables.scss';

$width: 350px;
$img-width: 200px;
$text-area-padding: 10px;
$text-area-width: $width - $img-width - $text-area-padding * 2;
$last-row-margin: 0px;

.item-card {
   display: flex;
   width: $width;

   border: 2px solid #482673;
   border-radius: 15px;
   padding: 15px;
   margin: 60px 50px 0px;

   font-family: $font;

   color: #482673;

   // transition: transform 0.5s;

   &__text-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;

      padding: $text-area-padding;
      width: $text-area-width;
   }

   &__name {
      width: 100%;

      font-size: 23px;
      text-transform: uppercase;
      word-wrap: break-word;
   }

   &__qty {
      width: 60px;
      height: 25px;
      margin-right: 100%;
      font-size: 20px;
      text-align: center;

      &::-webkit-inner-spin-button {
         opacity: 1;
         padding-right: 5px;
         background-color:#75c9b7;
      }
   }

   &__price {
      margin-top: $last-row-margin;
      font-size: 25px;
      word-wrap: break-word;
   }

   &__delete-icon {
      margin-top: $last-row-margin;
      height: 25px;
      cursor: pointer;
      transition: transform 0.5s;

      &:hover {
         transform: scale(1.2);
      }
   }

   &__img {
      background-image: url('../../img/222.png');
      height: 150px;
      width: $img-width;
   }

   &:hover {
      transform: scale(1.2);

   }
}