@import '../utils/vriables.scss';

.sort {
   display: flex;
   justify-content: center;
   width: 100%;
   font-family: $font;

   &__name {
      margin: 10px 20px;
      padding: 5px;
      border-radius: 15px;

      background-color: #f6ebf4;
      border: 1px solid;
      border-color: #482673;
      font-size: 20px;
      color: #482673;

      transition: background-color 0.5s;

      &:hover {
         background-color: #482673;
         border-color: #f6ebf4;
         color: white;
      }
   }

   &__qty {
      margin: 10px 20px;
      padding: 5px;
      border-radius: 15px;

      background-color: #f6ebf4;
      border: 1px solid;
      border-color: #482673;
      font-size: 20px;
      color: #482673;

      transition: background-color 0.5s;

      &:hover {
         background-color: #482673;
         border-color: #f6ebf4;
         color: white;
      }
   }

   &__price {
      margin: 10px 20px;
      padding: 5px;
      border-radius: 15px;

      background-color: #f6ebf4;
      border: 1px solid;
      border-color: #482673;
      font-size: 20px;
      color: #482673;

      transition: background-color 0.5s;

      &:hover {
         background-color: #482673;
         border-color: #f6ebf4;
         color: white;
      }
   }
}